<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/login.css">
    <title>Login-Page</title>
</head>

<body>

    <div class="login">
        <h1>Login</h1>
        <p id="h1">{{info}}</p>
        <form action="/form_login" method = "POST">
            <label> Username  </label>
            <input type="text" name = "username" placeholder="username">
            <label> Password </label>
            <input type="password" name ="password" placeholder="password">
            <button class="btn" type="submit">Log in</button>
        </form>
    </div>
    <p class="signup">Don't have an account ? <a href="signup.html">Signup</a> </p>

</body>

</html>