<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap" rel="stylesheet">
    <title>After-Signup </title>
</head>
<body style="background-color: rgba(233, 62, 96, 0.411);">
    <center>

    <h1 style="color: coral; font-size :50px ; font-family: 'Baloo Tammudu 2', cursive;">
        Welcome  <i style="color :chocolate">{{info}}</i>. 
    </h1>

    <h2 style = "color: cornsilk;font-family: 'Baloo Tammudu 2', cursive; ">
        Now please login <a style = "color :white " href="login.html"> here </a>
    </h2>
</center>
    
</body>
</html>